:root {
  --switch-width: 80px;
  --switch-height: calc(var(--switch-width) / 2);
}

.switch {
  position: relative;
  display: inline-block;
  width: var(--switch-width);
  height: var(--switch-height);
  -webkit-tap-highlight-color: transparent;
}

.switch input {
  display: none;
}

.switch input:disabled {
  cursor: not-allowed;
}

.switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  border-radius: var(--switch-width);
  background: var(--accent-2);
  cursor: pointer;
}

.switch .slider:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  display: block;
  width: var(--switch-height);
  border-radius: 50%;
  background-color: var(--accent-7);
  transition: 0.2s ease-in-out;
}

.switch input:checked + .slider:before {
  background-color: var(--green);
  transform: translateX(100%);
}

.switch input:disabled + .slider {
  cursor: not-allowed;
}

.switch .icon {
  opacity: 0;
  transition: 0.25s ease-in-out;
}

.switch input:checked ~ .slider .icon {
  opacity: 1;
}
