:root {
  --accent-1: #081e34;
  --accent-2: #1d3146;
  --accent-7: #637586;
  --accent-9: #ffffff;
  --green: #1eecb3;
  --red: #ff0101;
  --highlight-yellow: #ffff00;
  --highlight-cyan: #00ffff;
  --highlight-green: #00ff00;
}

*,
*::before,
*::after {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  box-sizing: border-box;
}

body {
  background-color: var(--accent-1);
  color: var(--accent-9);
  font-family: 'Poppins', sans-serif;
  margin: 0;
}

body,
#root,
main {
  height: 100vh;
}

main {
  display: grid;
  place-items: center;
  align-content: center;
  grid-auto-rows: min-content;
  row-gap: 35px;
  padding: 1rem;
}

h1 {
  font-size: 22px;
  font-weight: 500;
  text-align: center;
}

.support {
  display: flex;
  justify-content: center;
  align-items: center;
}

.info {
  color: var(--highlight-cyan);
}
.request {
  color: var(--highlight-yellow);
}
.release {
  color: var(--highlight-green);
}
.error {
  color: var(--red);
}

ul {
  height: 150px;
  padding: 15px;
  overflow-y: auto;
  line-height: 1.75;
  font-size: clamp(14px, 3vw, 16px);
  list-style-type: none;
  border-radius: 6px;
  background: linear-gradient(var(--accent-2) 33%, rgba(214, 244, 115, 0)),
    linear-gradient(rgba(214, 244, 115, 0), var(--accent-2) 66%) 0 100%,
    radial-gradient(
      farthest-side at 50% 0,
      rgba(255, 255, 255, 0.2),
      rgba(0, 0, 0, 0)
    ),
    radial-gradient(
        farthest-side at 50% 100%,
        rgba(255, 255, 255, 0.2),
        rgba(0, 0, 0, 0)
      )
      0 100%;
  background-color: var(--accent-2);
  background-repeat: no-repeat;
  background-attachment: local, local, scroll, scroll;
  background-size: 100% 45px, 100% 45px, 100% 15px, 100% 15px;
}

a {
  height: 52px;
  display: grid;
  place-content: center;
  padding: 0 30px;
  background-color: var(--green);
  color: var(--accent-1);
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  border-radius: 50px;
  transition: filter 400ms;
}

a:hover {
  filter: brightness(0.8);
}
